.dropdown {
    max-height: 0 !important;
}

.dropdown-container{
    height: 100%;
}

.dropdown .pp {
    width: 0;
    height: 0;
}

/* presentation and dropdown */
.item1 .dropdown {
    padding: 0;
    opacity: 0;
}

.rotate::before{
    transform: rotate(-90deg);
}

.directory::before, .round-button::before {
    /* apply transition 0.5s linear */
    transition: transform .5s linear, translate .5s linear;
}

.rotate-down::before {
    /* apply animated closing */
    transform: rotate(0deg);
}

.item1 .rotate{
    transform: translateY(65%);
}