.dropdown {
    max-height: 0 !important;
    padding: 0;
    opacity: 0;
    border: 0;
}

.dropdown-container{
    height: 100%;
    background-color: rgba(52,53,65);
}

.dropdown .pp {
    width: 0;
    height: 0;
}

.dropdown * {
    height: 0;
    margin: 0;
    display: none;
}

.rotate::before{
    transform: rotate(-90deg);
}

.round-button::before {
    /* apply transition 0.5s linear */
    transition: transform .5s linear, translate .5s linear;
}

.rotate-down::before {
    /* apply animated closing */
    transform: rotate(0deg);
}

.item1 .rotate{
    transform: translateY(50%);
}