<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords"
        content="CV, curriculum vitae, choulot, louis, développeur, web, front, back, fullstack, algosup, 3ème année, 2022, de choulot, de lavenne, admin, server admin, administrateur, presentation, github">
    <meta name="Description" content="CV de Louis de Lavenne de Choulot de Chabaud-la-tour, présentation complète">
    <meta property="og:image:type" content="image/png">
    <link rel="icon" type="image/x-icon" href="/images/favicon_io/favicon.ico">
    <link rel="stylesheet" href="./css/style.css">
    <title>CV de Choulot</title>
    <!-- CSS only -->
    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous">
    </script>
    <script src="./js/index.js"></script>
</head>

<body>

    <div class="container">
        <div class="item1">
            <div>
                <img class="pp" src="https://avatars.githubusercontent.com/u/71769482?v=4">
            </div>
            <h1>Louis de Lavenne de Choulot</h1>
        </div>
        <div class="item2">
            <h4 class="directory" onclick="DropDown(this, document.getElementById('drpdwn'))">My Presentation</h4>
            <!-- list -->
            <ul id="drpdwn">
                <button id="home" class="selected" hx-get="/html-elms/whoami" hx-trigger="click" hx-target=".item4"
                    onclick="Select(this)">
                    <li class="html">Qui suis-je ?</li>
                </button>
                <!-- add selected class if clicked -->
                <button id="experience" hx-get="/html-elms/experience" hx-trigger="click" hx-target=".item4"
                    onclick="Select(this)">
                    <li class="html">Mes expérience</li>
                </button>
                <button id="projects" hx-get="/html-elms/projects" hx-trigger="click" hx-target=".item4"
                    onclick="Select(this)">
                    <li class="html">Mes projets</li>
                </button>
            </ul>
        </div>
        <div class="item3">
            <div class="file-title html" hx-get="whoami" hx-trigger="click" hx-target=".item4"
                onclick="Select(document.getElementById('home')); this.remove();">Qui suis-je ?</div>
        </div>
        <div class="code-container">
            <div class="spe-item4">
                <p>1.</p>
                <p>2.</p>
                <p>3.</p>
                <p>4.</p>
                <p>5.</p>
                <p>6.</p>
                <p>7.</p>
                <p>8.</p>
                <p>9.</p>
                <p>10.</p>
                <p>11.</p>
                <p>12.</p>
            </div>
            <div class="item4">
                <span>
                    <p>
                        Bonjour Je m'appelle Louis de Choulot, développeur passioné en 3ème année d'étude à ALGOSUP.
                    </p>
                    <p><br>en 3 mots je suis : <br> Passioné<br>Dynamique<br><span
                            style="color:rgb(249, 211, 44);">Développeur</span> avant tout </p>
                </span>
            </div>
        </div>
        <!-- div that goes until end of page -->
        <div class="fill-void"></div>
        <div class="item5">Footer</div>
    </div>
</body>

</html>