<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords"
        content="CV, curriculum vitae, choulot, louis, développeur, web, front, back, fullstack, algosup, 3ème année, 2022, de choulot, de lavenne, admin, server admin, administrateur, presentation, github">
    <meta name="Description" content="CV de Louis de Lavenne de Choulot de Chabaud-la-tour, présentation complète">
    <meta property="og:image:type" content="image/png">
    <link rel="icon" type="image/x-icon" href="/images/favicon_io/favicon.ico">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/anims.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <title>CV de Choulot</title>
    <!-- CSS only -->
    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous">
    </script>
    <script src="./js/index.js"></script>
</head>

<body>

    <div class="container">
        <div class="item2">
            <h4 class="directory" id="balancing">
                Presentation</h4>
            <!-- list -->
            <ul id="drpdwn">
                <!-- add selected class if clicked -->
                <button id="experience" hx-get="/html-elms/experience" hx-trigger="click" hx-target=".item4-container"
                    onclick="Select(this)">
                    <li class="html">Mes expériences</li>
                </button>
                <button id="whoami" class="selected" hx-get="/html-elms/whoami" hx-trigger="click"
                    hx-target=".item4-container" onclick="Select(this)">
                    <li class="html">Qui suis-je ?</li>
                </button>
                <button id="projects" hx-get="/html-elms/projects" hx-trigger="click" hx-target=".item4-container"
                    onclick="Select(this)">
                    <li class="html">Mes projets</li>
                </button>
            </ul>
        </div>
        <div class="item3">

            <div class="file-title html selected-inverse" hx-get="/html-elms/whoami" hx-trigger="click"
                hx-target=".item4-container" onclick="Select(this)">
                Qui suis-je ?<div class="file-title-af"
                    onclick="Select(document.getElementById('whoami')); this.parentElement.remove()"></div>
            </div>
        </div>
        <div class="item1" id="item1">

            <div class="code-container">
                <div class="spe-item4" id="spe-item4"></div>
                <div class="item4" id="item4" style="text-align: justify;
                ">
                    <div class="item4-container" id="item4-container">
                        <p hx-get="/html-elms/whoami" hx-trigger="load" hx-target=".item4-container">Qui suis-je ?</p>
                    </div>
                </div>
            </div>

            <!-- centered round button  -->
            <div class="round-button" onclick="DropDown(this, document.getElementById('presentation'))">
            </div>
            <div id="presentation" class="presentation">
                <div>
                    <img class="pp" src="https://avatars.githubusercontent.com/u/71769482?v=4">
                </div>
                <h1>Louis de Lavenne de Choulot</h1>
                <p>software / app / backend développeur</p>
                <div class="contact">
                    <!-- inline tel and mail -->
                    <a href="tel:+337 81 86 32 36">
                        <img src="https://img.icons8.com/ios-filled/50/000000/phone.png">07 81 86 32 36
                    </a>
                    <a href="mailto:louisdechoulot@gmail.com">
                        <img src="https://img.icons8.com/ios-filled/50/000000/email.png">louisdechoulot@gmail.com
                    </a>
                </div>
                <div class="socials">
                    <!-- add github logo with link to gthb and lkdn logo  -->
                    <a href="https://github.com/Louis-de-Lavenne-de-Choulot">
                        <img class="social"
                            src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                            style="width: 100px;">
                    </a>
                    <a href="https://fr.linkedin.com/in/louis-de-lavenne-de-choulot-b911191b8">
                        <img class="social" src="https://cdn.worldvectorlogo.com/logos/linkedin-icon.svg"
                            style="width: 75px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>